@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>We are trying to create some CI/CD pipelines, so you can find here some unnecessary updates, just for triggering workflow :)</a>.</p>
</div>
